body{
    margin: 0;
}

svg{
    height: 25px;
    width: 25px;
}

.main-section{
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

.left-section{
    background-color: lightseagreen;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.top-left-section{
    display: flex;
    align-items: center;

}

.home-svg{
    height: 40px;
    width: 40px;
    fill: white;
}

.home-text{
    color: white;
    font-size: 1.3rem;
}

.middle-left-section{
    background-color: blueviolet;
}
.bottom-left-section{
    background-color: brown;
}

.right-section{
    background-color: white;
}