body{
    margin: 0;
}

svg{
    height: 25px;
    width: 25px;
}

.main-section{
    height: 100vh;
    display: grid;
    grid-template: 1fr / minmax(180px, 1fr) 4fr;
}

/* Left Section */

.left-section{
    background-color: lightseagreen;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.top-left-section{
    display: grid;

}

.dashboard-svg{
    height: 40px;
    width: 40px;
    fill: white;
}

.dashboard-text{
    color: white;
    font-size: 1.3rem;
}

.middle-left-section{
    background-color: blueviolet;
}

.left-section-item{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;

}

.left-section-item svg{
    padding-left: 15px;
    padding-right: 15px;
    fill: white;
}

.left-section-item p{
color: white;
}

.bottom-left-section{
    background-color: brown;
}

/* Right Section */

.right-section{
    background-color: white;
    display: grid;
    grid-template: 1fr 6fr / 1fr 
}

.header-section{
    background-color: aqua;
    display: grid;
    grid-template: 1fr 2fr / 1fr 
}

.top-header-section{
    background-color: lightsalmon;
    display: grid;
    grid-template: 1fr / minmax(25px, 70px) minmax(300px, 3fr) 1fr minmax(25px,75px) 1fr;
    align-items: center;
}

.input-bar{
    padding-left: 10px;
}

.search-svg{
    padding-right: 15px;
}

.search-svg-grid,.notification-bell-svg-grid{
    display: grid;
    justify-content: end;
}

.spaghetti-pfp-div{
    display: grid;
    justify-content: center;
}

.spaghetti-pfp{
    width: 30px;
    height: 30px;
}

.header-name{
    margin: 0;
}

.bottom-header-section{
    background-color: lightgreen;
}

.bottom-right-section{
    background-color: blanchedalmond;
}